

.testimonial-text {
    font-style: italic;
}

.testimonial-author {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
}

.li-space-lg li {
    margin-bottom: 0.375rem;
}

.indent {
    padding-left: 1.25rem;
}

a {
    color: #555;
    text-decoration: none;
}

.white {/* 
    color: #eee; */
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #637fff;
    border-radius: 2rem;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    border: 0.125rem solid #333;
    background-color: transparent;
    color: #333;
    text-decoration: none;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #637fff;
    border-radius: 2rem;
    background: #637fff;
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    border: 0.125rem solid #333;
    background-color: transparent;
    color: #333;
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #333;
    border-radius: 2rem;
    background-color: transparent;
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    border: 0.125rem solid #637fff;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
    color: #333;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #333;
    border-radius: 2rem;
    background-color: transparent;
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    border: 0.125rem solid #637fff;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
    color: #333;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.625rem 0.875rem 1.625rem;
    border: 0.125rem solid #333;
    border-radius: 2rem;
    background-color: transparent;
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    border: 12px solid #637fff;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
    color: #333;
    text-decoration: none;
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
    margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
    margin-top: 0.375rem;
}

.label-control {
    position: absolute;
    top: 0.87rem;
    left: 1.375rem;
    opacity: 1;
    font: 400 0.875rem/1.375rem "Montserrat", sans-serif;
    cursor: text;
    transition: all 0.2s ease;
}

.help-block.with-errors .list-unstyled {
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-align: left;
}

.help-block.with-errors ul {
    margin-bottom: 0;
}


/* end of form success and error message formatting */


/* Form Success And Error Message Animation - Animate.css */

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* end of form success and error message animation - Animate.css */


/* Fade-move Animation For Details Lightbox - Magnific Popup */


/* at start */

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
    -ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
    transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
    -ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
    transform: translateY(0) perspective(37.5rem) rotateX(0);
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
    -ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
    transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}


/* dark overlay, start state */

.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* end of fade-move animation for details lightbox - magnific popup */


/* Fade Animation For Image Lightbox - Magnific Popup */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation: fadeOut 0.8s;
    animation: fadeOut 0.8s;
}


/* end of fade animation for details lightbox - magnific popup */


.header {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 40%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.header .countdown {
    margin-bottom: 0.5rem;
    color: #fff;
    text-align: center;
}

.header .countdown #clock .counter-number {
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
    margin-left: 0.5rem;
    padding-top: 2rem;
    border: 0.125rem solid #fff;
    border-radius: 50%;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.25rem;
    text-align: center;
}

.header .countdown #clock .counter-number .timer-text {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
}

.header h1 {
    margin-bottom: 0.75rem;
    color: #eee;
}

.header .p-large {
    margin-bottom: 1.75rem;
    color: #ddd;
}

.header .btn-solid-lg {
    margin-right: 0.5rem;
    margin-bottom: 1.125rem;
    margin-left: 0.5rem;
}

.header .btn-solid-lg:hover {
    border: 0.125rem solid #637fff;
    color: #637fff;
}

.header .btn-outline-lg {
    border: 0.125rem solid #fff;
    color: #fff;
}

.header .btn-outline-lg:hover {
    background-color: #fff;
    color: #333;
}

.header .outer-container {
    position: absolute;
    right: 0;
    bottom: -2rem;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header .slider-container {
    position: relative;
}

.header .swiper-container {
    position: static;
    width: 80%;
    border-radius: 0.75rem;
}

.header .swiper-container img {
    border-radius: 0.75rem;
}

.header .swiper-button-prev:focus,
.header .swiper-button-next:focus {
    /* even if you can't see it chrome you can see it on mobile device */
    outline: none;
}

.header .swiper-button-prev {
    left: 0.25rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-size: 1.125rem 1.75rem;
}

.header .swiper-button-next {
    right: 0.25rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-size: 1.125rem 1.75rem;
}


/****************************/


/*     05. Registration     */


/****************************/

.form-1 {
    padding-top: 6rem;
    padding-bottom: 6.25rem;
}

.form-1 h2 {
    margin-bottom: 1.25rem;
}

.form-1 p,
.form-1 .list-unstyled,
.form-1 .help-block,
.form-1 .checkbox,
.form-1 .checkbox a {
    color: #333;
}

.form-1 p {
    margin-bottom: 1.5rem;
}

.form-1 .list-unstyled .fas {
    color: #ffffff;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

.form-1 .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.form-1 .form-control-input {
    border: 1px solid #d9d0fb4f;
    background-color: #d9d0fb4f;
}

.form-1 .form-control-input:hover {
    border: 1px solid #fff;
}

.form-1 .form-control-submit-button {
    border: 0.125rem solid #333;
    background-color: transparent;
}

.form-1 .form-control-submit-button:hover {
    border: 0.125rem solid #d9d0fb4f;
    background-color: #d9d0fb4f;
}


/************************/


/*     06. Partners     */


/************************/

.slider-1 {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    text-align: center;
}

.slider-1 .p-small {
    color: #797fa7;
}

.slider-1 .slider-container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}


/**************************/


/*     07. Instructor     */


/**************************/

.basic-1 {
    padding-top: 3.75rem;
    padding-bottom: 3.5rem;
    background-color: #fff;
}

.basic-1 h2 {
    margin-bottom: 1.25rem;
}

.basic-1 img {
    margin-bottom: 2.5rem;
    border-radius: 0.25rem;
}


/***************************/


/*     08. Description     */


/***************************/

.basic-2 {
    padding-top: 3.5rem;
    padding-bottom: 2.75rem;
    background-color: #fff;
}

.basic-2 h2 {
    margin-bottom: 3.75rem;
    text-align: center;
}

.basic-2 .li-space-lg li {
    margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .bullet {
    margin-right: 0.625rem;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
    color: #333;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 2rem;
    text-align: center;
}


/************************/


/*     09. Students     */


/************************/

.basic-3 {
    padding-top: 2.75rem;
    padding-bottom: 4rem;
    background-color: #fff;
}

.text-container {
    position: relative;
    z-index: 1;
}

.basic-3 .text-container {
    margin-bottom: 3.5rem;
}

.basic-3 h2 {
    margin-bottom: 1.25rem;
}

.basic-3 p {
    margin-bottom: 1.375rem;
}

.basic-3 img {
    border-radius: 0.25rem;
}


/********************************/


/*     10. Details Lightbox     */


/********************************/

.lightbox-basic {
    margin: 2.5rem auto;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 0.25rem;
    background: #fff;
    text-align: left;
}

.lightbox-basic .container {
    padding-right: 0;
    padding-left: 0;
}

.lightbox-basic .image-container {
    max-width: 33.75rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
}

.lightbox-basic .image-container img {
    border-radius: 0.25rem;
}

.lightbox-basic h3 {
    margin-bottom: 0.5rem;
}

.lightbox-basic hr {
    width: 2.5rem;
    height: 0.125rem;
    margin-top: 0;
    margin-bottom: 0.875rem;
    margin-left: 0;
    border: 0;
    background-color: #555;
    text-align: left;
}

.lightbox-basic h4 {
    margin-bottom: 1rem;
}

.lightbox-basic .list-unstyled .fas {
    color: #555;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

.lightbox-basic .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.lightbox-basic .btn-outline-reg,
.lightbox-basic .btn-solid-reg {
    margin-top: 0.75rem;
}


/* Signup Button */

.lightbox-basic .btn-solid-reg.mfp-close {
    position: relative;
    width: auto;
    height: auto;
    color: #333;
    opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
    color: #333;
}


/* end of signup Button */


/* Back Button */

.lightbox-basic a.mfp-close.as-button {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 0.375rem;
    color: #333;
    opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
    color: #333;
}


/* end of back button */

.lightbox-basic button.mfp-close.x-button {
    position: absolute;
    top: -0.125rem;
    right: -0.125rem;
    width: 2.75rem;
    height: 2.75rem;
    color: #707984;
}


/*********************/


/*     11. Video     */


/*********************/

.basic-4 {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #fff;
}

.basic-4 h2 {
    margin-bottom: 2.75rem;
    text-align: center;
}

.basic-4 .image-container {
    margin-bottom: 2rem;
}

.basic-4 .image-container img {
    border-radius: 0.75rem;
}

.basic-4 .video-wrapper {
    position: relative;
}


/* Video Play Button */

.basic-4 .video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: content-box;
    width: 2rem;
    height: 2.75rem;
    padding: 1.125rem 1.25rem 1.125rem 1.75rem;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-4 .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    display: block;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    background: #637fff;
    animation: pulse-border 1500ms ease-out infinite;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-4 .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background: #637fff;
    transition: all 200ms;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-4 .video-play-button span {
    position: relative;
    display: block;
    z-index: 3;
    top: 0.375rem;
    left: 0.25rem;
    width: 0;
    height: 0;
    border-left: 1.625rem solid #fff;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


/* end of video play button */


/*************************/


/*     12. Takeaways     */


/*************************/

.cards {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #fff;
}

.cards h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.cards .card {
    border-radius: 12px;
    /* 
    box-shadow: 0 0.0625rem 1.75rem 0 rgba(0, 0, 0, 0.04); */
}


/****************************/


/*     13. Testimonials     */


/****************************/

.slider-2 {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    background-color: #fff;
}

.slider-2 h3 {
    margin-bottom: 3.75rem;
    text-align: center;
}

.slider-2 .slider-container {
    position: relative;
}

.slider-2 .swiper-container {
    position: static;
    width: 88%;
    text-align: center;
}

.slider-2 .image-wrapper {
    width: 6rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
}

.slider-2 .image-wrapper img {
    border-radius: 0.25rem;
}

.slider-2 .testimonial-text {
    margin-bottom: 0.5rem;
}

.slider-2 .testimonial-author {
    color: #333;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
    width: 1.125rem;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
    /* even if you can't see it chrome you can see it on mobile device */
    outline: none;
}

.slider-2 .swiper-button-prev {
    left: -0.5rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
    background-size: 1.125rem 1.75rem;
}

.slider-2 .swiper-button-next {
    right: -0.5rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
    background-size: 1.125rem 1.75rem;
}


/********************/


/*     14. Date     */


/********************/

.basic-5 {}

.basic-5 .text-container {
    padding-top: 6rem;
    padding-bottom: 6.125rem;
    border-radius: 0.75rem;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/date-background.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
}

.basic-5 h2 {
    width: 90%;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    color: #eee;
}

.basic-5 p {
    width: 88%;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;
    color: #ddd;
}

.basic-5 .btn-solid-lg:hover {
    border: 0.125rem solid #fff;
    color: #fff;
}


/**************************/


/*     15. Newsletter     */


/**************************/

.form-2 {
    padding-top: 8.125rem;
    padding-bottom: 5.75rem;
    background-color: #fff;
}

.form-2 h3 {
    margin-bottom: 3.25rem;
    text-align: center;
}

.form-2 form {
    margin-bottom: 3rem;
}

.form-2 .icon-container {
    text-align: center;
}

.form-2 .fa-stack {
    width: 2em;
    margin-bottom: 0.75rem;
    margin-right: 0.375rem;
    font-size: 1.5rem;
}

.form-2 .fa-stack .fa-stack-1x {
    color: #333;
    transition: all 0.2s ease;
}

.form-2 .fa-stack .fa-stack-2x {
    color: #637fff;
    transition: all 0.2s ease;
}

.form-2 .fa-stack:hover .fa-stack-1x {
    color: #637fff;
}

.form-2 .fa-stack:hover .fa-stack-2x {
    color: #333;
}


/***********************/


/*     16. Contact     */


/***********************/

.form-3 {
    padding-top: 6.125rem;
    padding-bottom: 5.125rem;
    background: radial-gradient( #af9df0 0%, #637fff 100%);
}

.form-3 .text-container {
    margin-bottom: 3rem;
}

.form-3 h2 {
    margin-bottom: 1.125rem;
}

.form-3 p {
    color: #fff;
    margin-bottom: 2rem;
}

.form-3 h3 {
    margin-bottom: 0.875rem;
}

.form-3 .list-unstyled,
.form-3 .list-unstyled a {
    color: #fff;
}

.form-3 .list-unstyled .fas {
    color: #fff;
    font-size: 1rem;
    line-height: 1.625rem;
}

.form-3 .list-unstyled .media-body {
    margin-left: 0.75rem;
}

.form-3 .list-unstyled .media-body .fas.fa-globe {
    margin-left: 1.125rem;
    margin-right: 0.75rem;
}

.form-3 .form-control-input,
.form-3 .form-control-textarea {
    border: 1px solid #d9d0fb4f;
    background-color: #d9d0fb4f;
}

.form-3 .form-control-input:hover,
.form-3 .form-control-textarea:hover {
    border: 1px solid #fff;
}

.form-3 .help-block,
.form-3 .checkbox,
.form-3 .checkbox a {
    color: rgb(171, 228, 238);
}

.form-3 .form-control-submit-button {
    border: 0.125rem solid #fff;
    background-color: transparent;
}

.form-3 .form-control-submit-button:hover {
    border: 0.125rem solid #d9d0fb4f;
    background-color: #d9d0fb4f;
}


/**********************/


/*     17. Footer     */


/**********************/

.footer {
    padding-top: 4.75rem;
    padding-bottom: 2rem;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/header-background.jpg') center center no-repeat;
    background-size: cover;
}

.footer .footer-col {
    margin-bottom: 2.25rem;
}

.footer h5 {
    margin-bottom: 0.5rem;
}

.footer a {
    text-decoration: none;
}

.footer h5,
.footer p,
.footer a {
    color: #bbb;
}

.footer .list-unstyled .fas {
    color: #bbb;
    font-size: 0.5rem;
    line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.footer .fab {
    margin-bottom: 0.75rem;
    margin-right: 1rem;
    color: #ccc;
    font-size: 1.25rem;
    transition: all 0.2s ease;
}

.footer .fab:hover {
    color: #637fff;
}


/*************************/


/*     18. Copyright     */


/*************************/

.copyright {
    padding-top: 1.5rem;
    padding-bottom: 0.375rem;
    background-color: #000;
    text-align: center;
}

.copyright .p-small {
    color: #999;
    font-size: 0.75rem;
    line-height: 1.375rem;
}

.copyright a {
    color: #999;
}


/**********************************/


/*     19. Back To Top Button     */


/**********************************/

a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #637fff url("../images/up-arrow.png") no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
}

a:hover.back-to-top {
    background-color: #f0a731;
}


/***************************/


/*     20. Extra Pages     */


/***************************/

.ex-header {
    position: relative;
    padding-top: 3rem;
    background-size: cover;
    text-align: center;
}

.ex-basic-1 {
    padding-top: 1.5rem;
    padding-bottom: 0.875rem;
    background-color: #efebe5;
}

.ex-basic-1 .breadcrumbs {
    margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
    margin-right: 0.5rem;
    margin-left: 0.625rem;
    font-size: 0.875rem;
}

.ex-basic-2 {
    padding-top: 4.75rem;
    padding-bottom: 4rem;
    background-color: #fff;
}

.ex-basic-2 h3 {
    margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
    margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
    margin-bottom: 0;
}

.ex-basic-2 .text-container.dark {
    padding: 1.625rem 1.5rem 0.75rem 2rem;
    background-color: #efebe5;
}

.ex-basic-2 .image-container-large {
    margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
    border-radius: 0.375rem;
}

.ex-basic-2 .image-container-small img {
    border-radius: 0.375rem;
}

.ex-basic-2 .list-unstyled .fas {
    color: #637fff;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

.ex-basic-2 .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.ex-basic-2 .form-container {
    margin-top: 3rem;
}

.ex-basic-2 .btn-solid-reg {
    margin-top: 1.5rem;
}


/*****************************/


/*     21. Media Queries     */


/*****************************/


/* Min-width width 768px */

@media (min-width: 768px) {
    /* General Styles */
    .p-heading {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    /* end of general styles */
    /* Header */
    .header {
        padding-top: 9rem;
        padding-bottom: 40%;
    }
    .header h1 {
        font-size: 4rem;
        line-height: 4.875rem;
        letter-spacing: -0.3px;
    }
    .header .btn-solid-lg {
        margin-bottom: 0;
        margin-left: 0;
    }
    .header .outer-container {
        bottom: -4rem;
    }
    .header .swiper-button-prev {
        left: 1.5rem;
    }
    .header .swiper-button-next {
        right: 1.5rem;
    }
    /* end of header */
    /* Registration */
    .form-1 {
        padding-top: 9rem;
    }
    /* end of registration */
    /* Description */
    .basic-2 h2 {
        width: 41rem;
        margin-right: auto;
        margin-left: auto;
    }
    .basic-2 .list-unstyled .bullet {
        width: 3.25rem;
        height: 3.25rem;
        margin-right: 1rem;
        font-size: 1.375rem;
        line-height: 3.25rem;
    }
    /* end of description */
    /* Newsletter */
    .form-2 form {
        width: 31.875rem;
        margin-right: auto;
        margin-left: auto;
    }
    /* end of newsletter */
    /* Extra Pages */
    .ex-header {
        padding-top: 6rem;
        padding-bottom: 7rem;
    }
    .ex-basic-2 .text-container.dark {
        padding: 2.5rem 3rem 2rem 3rem;
    }
    .ex-basic-2 .form-container {
        margin-top: 0;
    }
    /* end of extra pages */
}


/* end of min-width width 768px */


/* Min-width width 992px */

@media (min-width: 992px) {
    /* Navigation */
    .p-heading {
        width: 65%;
    }
    /* end of general styles */
    /* Header */
    .header h1,
    .header .p-large {
        max-width: 47rem;
        margin-right: auto;
        margin-left: auto;
    }
    .header .swiper-button-prev {
        left: 3rem;
    }
    .header .swiper-button-next {
        right: 3rem;
    }
    /* end of header */
    /* Registration */
    .form-1 {
        padding-top: 10rem;
    }
    /* end of registration */
    /* Instructor */
    .basic-1 {
        padding-bottom: 4.5rem;
    }
    .basic-1 img {
        margin-bottom: 0;
    }
    /* end of instructor */
    /* Description */
    .basic-2 {
        padding-top: 4.5rem;
        padding-bottom: 3.5rem
    }
    /* end of description */
    /* Students */
    .basic-3 {
        padding-top: 3.5rem;
        padding-bottom: 4.5rem;
    }
    .basic-3 .text-container {
        margin-bottom: 0;
    }
    /* end of students */
    /* Details Lightbox */
    .lightbox-basic {
        max-width: 62.5rem;
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    }
    .lightbox-basic .image-container {
        max-width: 100%;
        margin-right: 2rem;
        margin-bottom: 0;
        margin-left: 0.5rem;
    }
    .lightbox-basic h3 {
        margin-top: 0.5rem;
    }
    /* end of details lightbox */
    /* Video */
    .basic-4 {
        padding-top: 4.5rem;
        padding-bottom: 3.5rem;
    }
    /* end of video */
    /* Takeaways */
    /* Testimonials */
    .slider-2 {
        padding-bottom: 9rem;
    }
    .slider-2 h3 {
        width: 37.5rem;
        margin-right: auto;
        margin-left: auto;
    }
    .slider-2 .swiper-container {
        width: 92%;
        text-align: left;
    }
    .slider-2 .image-wrapper {
        float: left;
        width: 6rem;
        margin-bottom: 0;
    }
    .slider-2 .text-wrapper {
        max-width: 100%;
        margin-left: 7.375rem;
    }
    .slider-2 .swiper-button-prev {
        left: 0;
    }
    .slider-2 .swiper-button-next {
        right: 0;
    }
    /* end of testimonials */
    /* Date */
    .basic-5 h2 {
        width: 70%;
    }
    /* end of date */
    /* Newsletter */
    .form-2 {
        padding-top: 9rem;
    }
    .form-2 h3 {
        width: 37.5rem;
        margin-right: auto;
        margin-left: auto;
    }
    /* end of newsletter */
    /* Contact */
    .form-3 .text-container {
        margin-bottom: 0;
    }
    /* end of contact */
    /* Extra Pages */
    .ex-header h1 {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .ex-basic-2 {
        padding-bottom: 5rem;
    }
    /* end of extra pages */
}


/* end of min-width width 992px */


/* Min-width width 1200px */

@media (min-width: 1200px) {
    /* Header */
    .header {
        padding-bottom: 40%;
    }
    .header .outer-container {
        width: 69.375rem;
        bottom: -6rem;
    }
    .header .swiper-container {
        width: 100%;
    }
    .header .swiper-button-prev {
        left: -2.25rem;
    }
    .header .swiper-button-next {
        right: -2.25rem;
    }
    /* end of header */
    /* Registration */
    .form-1 {
        padding-top: 12rem;
    }
    .form-1 .text-container {
        margin-top: 1rem;
        margin-right: 3.5rem;
    }
    .form-1 form {
        margin-left: 1.5rem;
    }
    /* end of registration */
    /* Instructor */
    .basic-1 .text-container {
        margin-top: 3.125rem;
        margin-left: 3.5rem;
    }
    /* end of instructor */
    /* Description */
    .basic-2 .list-unstyled.first {
        margin-right: 1.625rem;
    }
    .basic-2 .list-unstyled.second {
        margin-left: 1.625rem;
    }
    /* end of description */
    /* Students */
    .basic-3 .text-container {
        margin-top: 2.5rem;
        margin-right: 3.5rem;
    }
    /* end of instructor */
    /* Takeaways */
    /* end of takeaways */
    /* Testimonials */
    .slider-2 .swiper-container {
        width: 90%;
    }
    .slider-2 .text-wrapper {
        margin-top: 0;
    }
    /* end of testimonials */
    /* Date */
    .basic-5 h2 {
        width: 50%;
    }
    .basic-5 p {
        width: 74%;
    }
    /* end of date */
    /* Contact */
    .form-3 .text-container {
        margin-top: 2.25rem;
        margin-right: 3.5rem;
    }
    /* end of contact */
    /* Footer */
    .footer .footer-col.first {
        margin-right: 1.5rem;
    }
    .footer .footer-col.second {
        margin-left: 3rem;
    }
    .footer .footer-col.third {
        margin-left: 2.75rem;
    }
    .footer .footer-col.fourth {
        margin-left: 1.5rem;
    }
    /* end of footer */
    /* Extra Pages */
    .ex-header h1 {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .ex-basic-2 .form-container {
        margin-left: 1.75rem;
    }
    .ex-basic-2 .image-container-small {
        margin-left: 1.75rem;
    }
    /* end of extra pages */
}


/* end of min-width width 1200px */